{% extends "base.html" %}
{% block content %}
<!--<div class="row">-->
<!--<div class="col-sm-12">-->
<!--<h1>{{title}}</h1>-->
<!--<p> {{content}}</p>-->
<!--<h2> {{person.firstname}} {{person.lastname}}</h2>-->
<!--<h3> Job title {{person.job}}</h3>-->
<!--</div>-->
<!--</div>-->
<div class="jumbotron">
    <h1>Weather & traffic application</h1>
    <p> Get information about road conditions and the weather on the road!</p>
    <p><a class="btn btn-success btn-lg" href="{{servletcontext}}/signup">Sign Up</a>
        or
        <a class="btn btn-primary btn-lg" href="{{servletcontext}}/login">Login</a></p>
</div>
{% endblock %}
