{% extends "base.html" %}
{% block menu %}
<!-- navbar -->
<nav class="navbar navbar-dark bg-dark navbar-expand-md" role="navigation">
    <a class="navbar-brand" href="/user">
        <img src="img/user.png" alt="" height="40" width="40">
    </a>
    <button class="navbar-toggler hidden-sm-up"
            type="button"
            data-toggle="collapse"
            data-target="#collapsing-navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Wheater & traffic </a>
    <div class="collapse navbar-collapse" id="collapsing-navbar">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a href="/weather"
                   class="nav-link{% ifequal page "weather.html" %} active{%endifequal%}">
                Weather
                </a>
            </li>
            <li class="nav-item">
                <a href="/reports"
                   class="nav-link{% ifequal page "report/all.html" %} active{%endifequal%}">
                Reports
                </a>
            </li>
            {% ifequal admin "true" %}
            <li class="nav-item">
                <a href="/street"
                   class="nav-link{% ifequal page "streets.html" %} active{%endifequal%}">
                Streets
                </a>
            </li>
            {% endifequal %}
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li><a href="{{servlet-context}}/user" class="nav-link{% ifequal page "user.html" %}
                active{%endifequal%}">Profile</a></li>
            <li><a href="{{servlet-context}}/logout" class="nav-link">Logout</a></li>
        </ul>
        </ul>
    </div>
</nav>
{%endblock%}
{% block content %}
{% include "home.html" %}
{% endblock %}