{% extends "menu-user.html" %}

{% block page-style %}
{% style "/css/weather.css" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row col-lg-12">
        <div class="col-lg-6">
            <div id="map"></div>
        </div>
        <div class="col-lg-6">
            <div id="weather_div"></div>
        </div>
    </div>
</div>
{% endblock %}


{% block page-scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
{% script "/js/weather.js" %}
{% endblock %}
