{:dev          true
 :port         3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port   7000

 ; set your dev database connection URL here
 :database-url "mysql://localhost:3306/traffic?user=root&password="
 }
