#map {
    width: 500px;
    height: 400px;
}

.big-icon {
    font-size: 400%;
    line-height: 65px;
    display: inline-block;
}

.forecast-row > span {
    display: table-cell;
    width: 100%;
}

.forecast-row .wind {
    text-align: left;
    padding-right: 0.8em;

}

.forecast-row .humidity {
    text-align: left;
    padding-right: 0.7em;
}

.forecast-row .precipitation {
    text-align: left;
    padding-right: 0.7em;
}

.forecast-row .temp {
    text-align: left;
    padding-right: 0.7em;
}

.forecast-row .forecast-hour {
    text-align: right;
    padding-right: 0.6em;
}

.forecast-row .weathericon {
    font-size: 200%;
    text-align: center;
    padding-right: 0.5em;
}

.summary {
    width: 300px;
}